body{
    background-image: url(../img/pattern.jpg);
    margin: 0;
}

header{
    background-color:#02967C;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0%;
}

h3{
    color: black;
}

h1{
    color: black;
    text-align: center;
    padding: 60px;
}

li{
    list-style-type: none;
    display: inline-block;
    color:  white;
}
