header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
    display: block;
}

body {
    color: #000000;
    background-color: #afafbe;
    background-image: url("1.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #fff8f8;
}

header {
    height: 200px;
    background-image: url(..moon5.jpg);
}

h1 {
    text-indent: -9999px;
    width: 940px;
    height: 180px;
    margin: 0px;
}

nav,
footer {
    clear: both;
    color: #f0bebe;
    background-color: green;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover,
nav li a.current {
    color: #000000;
}

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #700000;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #700000;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #700000;
}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}
